<?php
/** @var \Spaaza\Loyalty\Block\Adminhtml\Config\Renderer\Modules $block */
$modules = $block->getModulesAndVersions();
?>

<?php if ($modules): ?>
    <table class="spaaza-modules">
        <tbody>
            <tr>
                <th><?= __('API Client') ?></th>
                <td><?= $block->getClientVersion() ?: __('Unknown version') ?></td>
            </tr>
            <?php foreach ($modules as $module): ?>
                <tr>
                    <th><?= $block->escapeHtml($module['name']) ?></th>
                    <td>
                        <?= $block->escapeHtml($module['version'] ?: __('Unknown version')) ?>
                        <?php if (empty($module['enabled'])): ?>
                            (<?= __('disabled') ?>)
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
