<!-- ko if: isDisplayed() -->
<!-- ko foreach: { data: getTotalsVouchers(), as: 'item' } -->
    <tr class="totals spaaza-loyalty incl">
        <th class="mark" scope="row" data-bind="text: item.title"></th>
        <td class="amount">
            <span class="price" data-bind="text: item.value, attr:{'data-label': item.title}"></span>
        </td>
    </tr>
<!-- /ko -->
<!-- /ko -->
