#spaaza_loyalty_about {
    table.spaaza-modules {
        tbody {
            th {
                width: 20rem;
            }
            td, th {
                padding: 10px;
                text-align: left;
            }
            tr:nth-child(odd) {
                td, th {
                    background: @color-white-smoke;
                }
            }
        }
    }
}
