<?php
/** @var \Spaaza\Loyalty\Block\Adminhtml\Config\Renderer\WebsitesWarning $block */
?>
<?php if ($block->getTitle()): ?>
    <div class="messages">
        <div class="message message-error">
            <div>
                <p><strong><?= $block->escapeHtml($block->getTitle()) ?></strong></p>
                <p><?= $block->escapeHtml($block->getDescription()) ?></p>
            </div>
        </div>
    </div>
<?php endif; ?>
